<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
    <title>Title</title>
</head>

<body>
<header>
    <div class="logo-container">
        <img th:src="@{/img/logo.png}" alt="Logo" class="logo">
    </div>
</header>
<main>
    <div class="form-container">
    <h2>Editar Producto</h2>
    <form th:action="@{/admin/products/update/{id}(id=${product.id})}" th:object="${product}" method="POST" enctype="multipart/form-data" class="form">

            <input type="text" id="name" th:field="*{name}" required />

            <input type="number" id="price" th:field="*{price}" step="0.01" min="0" required />

            <textarea id="description" th:field="*{description}" required></textarea>

            <input type="number" id="stock" th:field="*{stock}" min="0" required />

            <input type="file" id="file" name="file" accept="image/*" />
        <div class="button-container">
            <button type="submit" class="btn-primary">Actualizar</button>
            <button type="reset" class="btn-primary" >Limpiar</button>
            <a href="#" th:href="@{/admin/products}" class="btn-primary">Cancelar</a>
        </div>
    </form>
    </div>
</body>
</html>