<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <script src="js/menu_toggle.js"></script>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
<header>
    <div class="logo-container">
        <img src="../img/logo.png" class="logo">
    </div>
    <nav>
        <button class="menu-toggle" aria-label="Toggle menu">☰</button>
        <ul class="menu">
            <li><a th:href="@{/admin}">Dashboard</a></li>
            <li><a th:href="@{/admin/users}">Usuarios</a></li>
            <li><a th:href="@{/admin/orders}">Pedidos</a></li>
            <li><a th:href="@{/admin/products}">Productos</a></li>
            <li><a th:href="@{/admin/reports}">Reportes</a></li>
        </ul>
        <ul class="buttons">
            <li><form th:action="@{/logout}" method="post">
                <button type="submit" class="button-search">Cerrar sesión</button>
            </form></li>
        </ul>
    </nav>
</header>
<h2>Lista de Productos</h2>
<div class="search-container">
    <form action="/admin/products" method="get">
        <input type="text" id="searchTerm" name="searchTerm" placeholder="Buscar por nombre o descripción" class="search-input" />
        <input type="number" id="searchById" name="searchById" placeholder="Buscar por ID" class="search-input" />
        <button type="submit" class="button-search">Buscar</button>
    </form>
    <a href="/admin/products/new" class="button-create">Nuevo Producto</a>
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Stock</th>
        <th>Acciones</th>
    </tr>
    <th:block th:each="product : ${productList}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.stock}"></td>
            <td>
                <a th:href="@{/admin/products/edit/{id}(id=${product.id})}" class="button-link">Editar</a>
                <a th:href="@{/admin/products/delete/{id}(id=${product.id})}" class="button-link">Eliminar</a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>

