<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Pedido</title>
    <link rel="stylesheet" th:href="@{/css/order.css}"> <!-- Asegúrate de incluir el CSS adecuado -->
</head>
<body>
<div class="confirmation-container">
    <h3 class="confirmation-title" th:text="#{order_confirmed_title}"></h3>
    <p th:text="#{order_confirmed_message}"></p>

    <div class="order-details">
        <p><strong th:text="#{order_id}"></strong> <span th:text="${order.id}"></span></p>
        <p><strong th:text="#{order_total}"> </strong><span th:text="${order.total}"></span> COP</p>
        <p><strong th:text="#{order_status}"></strong> <span th:text="${order.status}"></span></p>
    </div>

    <div class="payment-info">
        <h4 th:text="#{payment_instructions_title}"></h4>
        <p th:text="#{payment_instructions_message_1}"></p>
        <p th:text="#{payment_instructions_message_2}"></p>
        <p th:text="#{payment_instructions_message_3}"></p>
        <p th:text="#{payment_instructions_message_4}"></p>
    </div>

    <div class="action-buttons">
        <a href="/" class="button" th:text="#{go_to_home}"></a>
        <a href="/user/orders" class="button" th:text="#{view_orders}"></a>
        <a href="https://wa.me/573008020893" class="button" th:text="#{whatsapp_link}"></a>
    </div>
</div>


</body>
</html>
