<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Perfil del Usuario</title>
    <link rel="stylesheet" href="../css/user.css">
</head>
<body>

<header>
    <div class="logo-container">
        <img src="../img/logo.png" alt="Logo" class="logo">
        <h1>Perfil del Usuario</h1>
    </div>
</header>

<div class="form-container">
    <h2>Información del Usuario</h2>
    <p><strong>Nombre:</strong> <span th:text="${user.name}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Teléfono:</strong> <span th:text="${user.phone}"></span></p>
    <p><strong>Dirección:</strong> <span th:text="${user.address}"></span></p>
    <div class="button-container">
        <a class="btn-primary" th:href="@{'/user/edit/' + ${user.email}}">Editar Usuario</a>
        <a href="/user" class="btn-primary">Volver al inicio</a>
    </div>
</div>

</body>
</html>
