<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/index_usuario.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" th:href="@{/img/logo.png}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <title th:text="#{contact.title}">Contact</title>
</head>
<body>
<header>
    <div class="logo-container">
        <img th:src="@{/img/logo.png}" class="logo">
    </div>
    <nav>
        <button class="menu-toggle" aria-label="Toggle menu">☰</button>
        <ul class="menu">
            <li><a th:href="@{/}" th:text="#{nav.home}">Inicio</a></li>
            <li><a th:href="@{/#about}" th:text="#{nav.about}">Nosotros</a></li>
            <li><a th:href="@{/contacto}" th:text="#{nav.contact}">Contacto</a></li>
        </ul>
        <ul class="buttons">
            <div class="language-selector">
                <div class="selected-language" onclick="toggleDropdown()">
                    <img th:src="@{/img/flag_of_spain.svg}"
                         th:if="${#locale.language == 'es'}" alt="Español" class="flag-icon" />

                    <img th:src="@{/img/flag_of_the_united_states.svg}"
                         th:if="${#locale.language == 'en'}" alt="English" class="flag-icon" />

                    <img th:src="@{/img/flag_of_portugal.svg}"
                         th:if="${#locale.language == 'pt'}" alt="Português" class="flag-icon" />
                    <span th:text="${#locale.language == 'es' ? 'Español' : #locale.language == 'en' ? 'English' : 'Português'}"></span>
                    <i class="arrow"></i>
                </div>
                <div class="language-dropdown">
                    <a href="?lang=es" class="language-option">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg" alt="Español" class="flag-icon" />
                        <span>Español</span>
                    </a>
                    <a href="?lang=en" class="language-option">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg" alt="English" class="flag-icon" />
                        <span>English</span>
                    </a>
                    <a href="?lang=pt" class="language-option">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg" alt="Português" class="flag-icon" />
                        <span>Português</span>
                    </a>
                </div>
            </div>
            <a th:href="@{/iniciar}" class="btn btn-primary" th:text="#{button.login}">Iniciar Sesion</a>
            <a th:href="@{/register}" class="btn btn-primary" th:text="#{button.register}">Registrarse</a>
        </ul>
    </nav>
</header>

<section id="contacto">
    <div class="contacto-container">
        <div class="contacto-imagen">
            <img src="../../img/car_4.svg" alt="Imagen de Contacto">
        </div>
        <div class="contacto-info">
            <h1 th:text="#{contact.title}">¡Contáctanos!</h1>
            <p th:text="#{contact.description}">
                Estamos aquí para ayudarte. Si tienes alguna pregunta o necesitas asistencia, no dudes en comunicarte con nosotros.
            </p>
            <p th:text="#{contact.whatsapp}">
                contamos con whatsapp y si deseas en el globo de la esquina inferior derecha puede chatear con nosotros!
            </p>
                <a class="btn-primary" th:href="|https://wa.me/573008020893|" th:text="#{contact.whatsapp_button}">WhatsApp</a>

        </div>
    </div>
</section>

<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="../../img/logo.png" alt="Manos creativas">
        </div>
        <div class="footer-text">
            <h2 th:text="#{footer.title}">Manos y Sueños</h2>
            <p th:text="#{footer.description}">Transformando ideas en realidad, un sueño a la vez.</p>
            <p>&copy; 2024 <span th:text="#{footer.copyright}">Todos los derechos reservados.</span></p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script th:src="@{/js/menu_toggle}"></script>
<script th:src="@{/js/perfil_dropdown.js}"></script>
<script th:src="@{/js/languagedropdown.js}"></script>
</body>
</html>
