* {
  background-color: #F7EFE5;
}

body {
  font-family: 'Merriweather', serif !important;
  margin: 0;
  padding: 0;
}

header {
  color: #674188;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  position: relative;
  background-color: #F7EFE5;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  background-color: #7939d300;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 15px;
  top: 15px;
}

.menu, .buttons {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  gap: 10px;
}

.menu.active, .buttons.active {
  display: flex;
}

.menu li, .buttons li {
  width: auto;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
  padding: 5px 10px;
  transition: color 0.3s ease;
}

nav .menu a:hover {
  background-color: #E2BFD9;
  border-radius: 5px;
}

  .buttons {
  display: flex;
  gap: 5px; /* Reduce la distancia entre los botones */
}

  .logout-button{
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
    padding: 5px 10px;
    transition: color 0.3s ease;
    border: none;
    width: 100%;
    cursor: pointer;
  }

  .logout-button:hover{
    background-color: #E2BFD9;
  }

.car img, .perfil img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cart{
  background-color: transparent;
  border: none;
}
.btn-primary, .btn-secondary {
  border: none !important; /* Quita los bordes de los botones */
  color: var(--primary-color);
  border-radius: 10px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #e0c0d8 !important; /* Color del botón principal */
  color: #674188 !important;
}

.btn-primary:hover {
  background-color: #d3b3ca !important; /* Color al pasar el ratón */
}

.btn-secondary {
  background-color: #674188 !important; /* Color del botón secundario */
  color: #F7EFE5;
}

.btn-secondary:hover {
  background-color: #5a3672 !important; /* Color al pasar el ratón */
}

.perfil {
  position: relative;
}

.perfil-dropdown {
  margin-top: 5px;
  display: none; 
  position: absolute;
  background-color: #F7EFE5;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1000;
  border-radius: 5px;
  overflow: hidden;
}

.perfil-dropdown.active {
  display: block;
}

.perfil-dropdown a {
  display: block;
  padding: 10px 20px;
  color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.perfil-dropdown a:hover {
  background-color: #E2BFD9;
}


nav a {
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  color: #674188;
  background-color: transparent;
  padding: 5px 10px;
}

nav .menu a:hover {
  /* color: #E2BFD9; */
  background-color: #E2BFD9;
  border-radius: 5px;
}

.buttons li {
  background-color: #8e90cf00;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.menu-toggle {
  display: none;
}

.carousel {
  background-color: #F7EFE5;
}

.carousel-inner {
  overflow: hidden;
}

.carousel-item img {
  max-height: 550px;
  object-fit: fill;
  border-radius: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: transparent;
  color: #8e90cf00;
  border-radius: 50%;
  width: 60px;
  height: 40px;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.info_about {
  color: #674188;
  text-align: justify;
  width: 50%;
  padding: 25px;
}

.info_about h1 {
  color: #674188;
  font-size: 28px;
  margin-bottom: 15px;
}

.info_about p {
  color: #674188;
  font-size: 18px;
}

.image_about {
  width: 50%;
  padding: 25px;
}

.image_about img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

footer {
  color: #674188;
  padding: 40px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
.footer-text{
  color: #674188 !important;
}
.footer-text-p{
  color: #674188;
}
.footer-text h2 {
  color: #674188 !important;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-text p {
  color: #674188 !important;
  font-size: 16px;
  margin-bottom: 5px;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 10px;
}

.footer-bottom p {
  font-size: 14px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-container {
    margin-bottom: 15px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    background-color: #7939d300;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    position: absolute;
    right: 15px;
    top: 15px;
    justify-content: center;
  }

  .menu, .buttons {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
  }

  .menu.active, .buttons.active {
    display: flex;
  }

  .menu li, .buttons li {
    width: 100%;
  }

  nav a {
    display: block;
    width: 100%;
  }

  .info_about {
    width: 100%;
    padding: 15px;
    text-align: center;
  }

  .image_about {
    width: 100%;
    padding: 15px;
  }

  .image_about img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

@media (max-width: 500px) {
  #about {
    flex-direction: column;
  }

  .image_about {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 18px;
  }

  .menu-toggle {
    font-size: 16px;
    justify-items: center;
    
  }

  .info_about {
    font-size: 16px;
  }

  .image_about img {
    max-height: 300px;
  }
}

.contacto-container {
  color: #674188;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contacto-imagen {
  flex: 1;
  margin-right: 20px;
}

.contacto-imagen img {
  width: 100%;
}
contacto-info a{
  text-decoration: none;
}
#contacto .btn-primary:hover {
  background-color: #d3b3ca;
  color: #674188;
}

.btn-primary a{
  text-decoration: none;
  color: var(--primary-color);
  background-color: #E2BFD9;
}
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra */
}

::-webkit-scrollbar-track {
  background: #F7EFE5; /* Color de fondo de la barra */
}

::-webkit-scrollbar-thumb {
  background-color: #674188; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5a3672; /* Color de la barra de desplazamiento al pasar el ratón */
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* Estilo del scrollbar */
  scrollbar-color: #674188 #F7EFE5; /* Color del scrollbar y del track */
}

/* Para IE y Edge */
body {
  -ms-overflow-style: scrollbar; /* Muestra la barra de desplazamiento */
  background-color: #F7EFE5 !important;
}


/* Contenedor del formulario */
.form-container {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #E2BFD9; /* Fondo claro para el contenedor */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}
.form-container h2{
  background-color: transparent;
  color: #674188;
  text-align: center;
}
/* Estilo del formulario */
.form {
  background-color: #E2BFD9;
  display: flex;
  flex-direction: column;
}

/* Campos de entrada */
.form input[type="text"],
.form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1em;
  color: #333;
  border: 1px solid #ced4da; /* Borde suave */
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus {
  border-color: #71359c; /* Color de borde al enfocar */
  outline: none;
}

/* Estilo de botones */
.button-container {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.btn-primary {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #d696dd !important; /* Color del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
  background-color: #d696dd; /* Color del botón al pasar el cursor */
}

.btn-primary:active {
  transform: scale(0.98); /* Efecto de clic */
}

.language-selector {
  position: relative;
  width: 160px;
  font-family: 'Arial', sans-serif;
  user-select: none;
  background-color: #F7EFE5;
}

.selected-language {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background: #F7EFE5;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selected-language:hover {
  border-color: #674188;
  box-shadow: 0 2px 5px rgb(113, 53, 156);
}

.flag-icon {
  width: 20px;
  height: 15px;
  margin-right: 10px;
  object-fit: cover;
}

.arrow {
  margin-left: auto;
  border: solid #674188;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.language-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #F7EFE5;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-top: 5px;
  box-shadow: 0 2px 10px rgb(113, 53, 156);
  display: none;
  z-index: 1000;
}

.language-dropdown.show {
  display: block;
}

.language-option {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.language-option:hover {
  background-color: rgba(247, 247, 247, 0.45);
}

.language-option:first-child {
  border-radius: 8px 8px 0 0;
}

.language-option:last-child {
  border-radius: 0 0 8px 8px;
}