/* Estilos generales del body */
body {
    font-family: Arial, sans-serif;
    background-color: #F7EFE5 !important;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    color: #674188;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #F7EFE5;
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para el contenedor del formulario */
form {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #F7EFE5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titulo del formulario */
h2 {
    color: #674188;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
label {
    font-size: 16px;
    color: #674188;
    margin-bottom: 8px;
    display: block;
}

/* Estilos para los inputs y selects */
input[type="date"], input[type="month"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #674188;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
}

/* Estilos para el botón de envío */
button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #674188;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a357d;
}
a{
    text-decoration: none;
    margin-top: 10px;
}
/* Estilos para los contenedores de entrada de fecha, mes y año */
.date-input {
    margin-bottom: 20px;
}

/* Estilos de visibilidad de inputs según la opción seleccionada */
#monthInput, #yearInput {
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    button {
        padding: 10px;
        font-size: 16px;
    }
}
