<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css"> <!-- Asegúrate de que la ruta sea correcta -->
    <link rel="icon" th:href="@{/img/logo.png}" type="image/png">
    <title>Iniciar Sesión</title>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/67047dff02d78d1a30eddbf5/1i9koobr4';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>
<body>
<header>
    <div class="logo-container">
        <img src="../img/logo.png" alt="Logo" class="logo"> <!-- Cambia el nombre del logo -->
    </div>
</header>
<main>
    <div class="form-container">
        <h2>Iniciar Sesión</h2>
        <form th:action="@{/iniciar}" method="POST" class="form">
            <input type="email" id="email" name="username" placeholder="Email" autocomplete="off" required>
            <input type="password" id="password" name="password" autocomplete="off" placeholder="Contraseña" required>

            <button type="submit" class="btn-primary">Iniciar Sesión</button>
        </form>
        <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
        <p>Volver al inicio <a href="/"> Home </a></p>
    </div>
    <div>
        <p th:if="${param.error}">Nombre de usuario o contraseña incorrectos.</p>
        <p th:if="${param.logout}">Has cerrado sesión correctamente.</p>
    </div>
</main>
</body>
</html>
