<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="icon" th:href="@{/img/logo.png}" type="image/png">
    <title>Registro</title>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/67047dff02d78d1a30eddbf5/1i9koobr4';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
</head>
<body>
<header>
    <div class="logo-container">
        <img src="../img/logo.png" alt="Logo de la página" class="logo">
    </div>
</header>
<main>
    <div class="form-container">
        <h2 th:text="#{register.title}">Registro</h2>
        <form th:action="@{/register}" method="POST" class="form">

            <div class="error" th:if="${error == 'error.cc.invalid'}" th:text="#{error.cc.invalid}"></div>
            <input type="text" id="cc" name="cc" autocomplete="off"
                   th:placeholder="#{placeholder.cc}" required>

            <div class="error" th:if="${error == 'error.name.invalid'}" th:text="#{error.name.invalid}"></div>
            <input type="text" id="name" name="name" autocomplete="off"
                   th:placeholder="#{placeholder.name}" required>

            <input type="email" id="email" name="email" autocomplete="off"
                   th:placeholder="#{placeholder.email}" required>

            <div class="error" th:if="${error == 'error.password.invalid'}" th:text="#{error.password.invalid}"></div>
            <input type="password" id="password" name="password" autocomplete="off"
                   th:placeholder="#{placeholder.password}" required>

            <div class="error" th:if="${error == 'error.phone.invalid'}" th:text="#{error.phone.invalid}"></div>
            <input type="text" id="phone" name="phone" autocomplete="off"
                   th:placeholder="#{placeholder.phone}" required>

            <div class="error" th:if="${error == 'error.address.invalid'}" th:text="#{error.address.invalid}"></div>
            <input type="text" id="address" name="address" autocomplete="off"
                   th:placeholder="#{placeholder.address}" required>

            <button type="submit" class="btn-primary">Registrar</button>
        </form>
        <p><a th:href="@{/iniciar}" th:text="#{login.login}"></a></p>
        <p><a th:href="@{/}" th:text="#{login.home}"></a></p>
    </div>
</main>

</body>
</html>
